<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="pers.yang.questionnaire.mapper.UserMapper">

	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="pers.yang.questionnaire.entity.User">
		<id column="id" property="id"/>
		<result column="name" property="name"/>
		<result column="password" property="password"/>
		<result column="password_salt" property="passwordSalt"/>
		<result column="email" property="email"/>
		<result column="add_time" property="addTime"/>
		<result column="status" property="status"/>
	</resultMap>

	<!-- 通用查询结果列 -->
	<sql id="Base_Column_List">
		id, name, password, password_salt, email, add_time, status
	</sql>

	<select id="getPermissionsByUserId" resultType="java.lang.String">
		select p.name
		from t_user u
				 inner join t_user_role ur on u.id = ur.user_id
				 inner join t_role r on ur.role_id = r.id
				 inner join t_role_permission rp on r.id = rp.role_id
				 inner join t_permission p on p.id = rp.permission_id
		where u.id = #{id}
		group by p.name;
	</select>

	<select id="getRolesByUserId" resultType="java.lang.String">
		select r.name
		from t_user u
				 inner join t_user_role ur on u.id = ur.user_id
				 inner join t_role r on ur.role_id = r.id
		where u.id = #{id}
		group by r.name;
	</select>

	<select id="getUserByName" resultType="pers.yang.questionnaire.entity.User">
		select
		<include refid="Base_Column_List"/>
		from t_user
		where name = #{name}
	</select>
	<select id="getByEmail" resultType="pers.yang.questionnaire.entity.User">
		select
		<include refid="Base_Column_List"/>
		from t_user
		where email=#{email}
	</select>

</mapper>
